<li>
  <a href="#"><i class="icon-collaboration"></i> <span>Partner</span></a>
  <ul>
      <li<% if["naturesoft/partners/admin/partners"].include?(params[:controller]) %>class="active"<% end %>>
        <%= link_to 'Partners', naturesoft_partners.admin_partners_path %>
      </li>
  </ul>
</li>