<li>
  <a href="#"><i class="icon-collaboration"></i> <span>Partner</span></a>
  <ul>
      <li class="<%= active(naturesoft_partners.admin_partners_path) %>">
        <%= link_to 'Partners', naturesoft_partners.admin_partners_path %>
      </li>
  </ul>
</li>