<% title "Edit Partner: " + @partner.name %>

<!-- Basic layout-->
<div class="panel panel-flat">
  
    <div class="panel-heading"></div>
    
    <div class="panel-body">
        <%= render 'form', partner: @partner %>
    </div>

</div>
<!-- /basic layout -->